{% extends 'predictMethods/base.html' %}

{% load i18n %}

{% block about %}

<div class="container">
	<div class="row text-justify">
		<div class="col">
			<p>
			Projet réalisé afin de connaître les étapes de développement d'un projet de Machine Learning. Le problème était de comprendre les variables influençant la non-utilisation, l'utilisation à long terme ou à court terme d'une méthode contraceptive par un individu donné (femme) et de prédire quelle méthode contraceptive l'individu donné (femme) utilisera ou utilisera. <B>Seuls l’âge et le nombre d’enfants jamais nés influencent considérablement le choix de la méthode contraceptive d’une personne donnée (femme)</b>
			&nbsp;<em> CMC signifie Contraceptive Method Choice.</em>
			</p>
			<p>
			L'ensemble de données est un sous-ensemble de l'enquête nationale de 1987 sur la prévalence des contraceptifs en Indonésie. Les échantillons sont des femmes mariées qui n'étaient pas enceintes ou qui ne savent pas si elles l'étaient au moment de l'entretien !&nbsp;<a href = "https://archive.ics.uci.edu/ml/datasets/Contraceptive+Method+Choice"target ="_blank "class =" dataset_rsc ">Jeu des données !</a>
			</p> 
		</div>
	</div>
</div>

{% endblock %}
