{% extends 'predictMethods/base.html' %}

{% block about %}

<div class="container">
	<div class="row text-justify">
		<div class="col">
			<p>
			Project carried out in order to learn about the stages of development of a Machine Learning project. The problem was to understand the variables influencing the non-use, long-term or short-term use of a contraceptive method by a given individual (woman) an predict which contraceptive method the given individual (woman) uses or will use.<b>
			Only the age and the number of children ever born considerably influence the contraceptive method choice of a given individual (woman)</b>&nbsp;<em>CMC stands for Contraceptive Method Choice.</em>
			</p>
			<p>
				The dataset is a subset of the 1987 National Indonesia Contraceptive Prevalence Survey. The samples are married women who were either not pregnant or do not know if they were at the time of interview !&nbsp;<a href="https://archive.ics.uci.edu/ml/datasets/Contraceptive+Method+Choice" target="_blank" class="dataset_rsc" >Dataset resources.</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}
